.recomen-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.contenedor-personas{
    display:flex;
    gap:10px;
    max-width: 900px;
    justify-content: center;
    align-items: center;
}
.item-persona{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    text-align: center;
    border:1px solid;
}
.persona-imagen{
   
    overflow: hidden;
}
.persona-imagen img{
    width:100%;
    border-radius: 50%;
    max-width:70px;
}