@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,200;1,300;1,500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 500;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);

}
.logo{
 max-width: 6rem;   
}
.nav{
 width: 100%;  
 
}
.nav-list{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    
}
.nav-items-left{
    display: flex;
    gap:2rem;
    margin-left:40px;

}
.nav-list .nav-items-left li{
    padding: .6rem;
}
.nav-list li a {
    text-decoration: none;
    color:rgb(37, 37, 37);
    text-align: center;
     
}
.nav-list .nav-items-left li:hover{
    background-color:#f8eaef;
    border-radius: .4rem;
}
.nav-buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}
.nav-buttons li:nth-child(1){
    padding: 0.6rem;
    background-color: #d22c5d;
    border-radius: 0.4rem;
    border: 1px solid #d22c5d;
}
.nav-buttons li a:nth-child(1){
color:rgb(252, 238, 238);
}
.nav-buttons li:nth-child(2){
    padding: 0.6rem;
    
    border-radius: 0.4rem;
    border: 1px solid #d22c5d;
}
.nav-buttons li:nth-child(2) a{
color: #d40748;
}

.nav-buttons li:nth-child(1):hover{
    border: 1px solid #d22c5d;
    background-color: white;
}
.nav-buttons li:nth-child(1):hover a{
    color: #d40748;
 
}
.nav-buttons li:nth-child(2):hover{
    border: 1px solid #d22c5d;
    background-color: #d22c5d;
}
.nav-buttons li:nth-child(2):hover a{
    color: #ffeaf1;
 
}
.nav-buttons li{
    font-weight: 500;
}
.abrir-menu, .cerrar-menu{
    display: none;
}

@media screen and (max-width:700px) {
    /* 
    .nav{
        display: none;
    }
     */
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        font-size:2rem ;
        color: #b11f4e;
    }
    .cerrar-menu{
        color:white;
    }
    .header-nav{
        justify-content: space-between;
    }
    .nav-items-left{
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top:0;
        bottom: 0;
        background-color: #951C47;
        flex-direction: column;
        width: 70%;
        max-width: 300px;
        margin:0;
        right: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.623);
        
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }   
    .nav-list {
        flex-direction: column;
        align-items: start;
        
    }
    .nav-list li a{
        color: white;
    }
    .nav-buttons{
        flex-direction: column;
        position: absolute;
        bottom:0;
        margin-bottom:20px;
        align-items: stretch;
    }
    .nav-buttons li:nth-child(2){

        border: 1px solid #c2a4ad;
    }
    .nav-buttons li:nth-child(2) a{
    color: #fae2e9;
    }
    .nav-list .nav-items-left li:hover a{
       color: #951C47;
    }
    
}