<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resource/css/catalogo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
  <section class="contenedor">
   
    <div class="contenedor-items">
        
        <div class="item">
            <span class="titulo-item">EXTRA</span>
            <img src="resource/img/catalogo/primera-removebg-preview.png" alt="" class="img-item">
            <span class="precio-item">$30.000</span>
            <button class="boton-item"><a href="#"></a>Agregar al carrito</button>
        </div>

        <div class="item">
            <span class="titulo-item">PRIMERA</span>
            <img src="resource/img/catalogo/pri-removebg-preview.png" alt="" class="img-item">
            <span class="precio-item">$25.000</span>
            <button class="boton-item"><a href="#"></a>Agregar al carrito</button>
        </div>

        <div class="item">
            <span class="titulo-item">SEGUNDA</span>
            <img src="resource/img/catalogo/fresa-segunda-removebg-preview.png" alt="" class="img-item">
            <span class="precio-item">$20.000</span>
            <button class="boton-item"><a href="#"></a>Agregar al carrito</button>
        </div>

        <div class="item">
            <span class="titulo-item">RICHE</span>
            <img src="resource/img/catalogo/RICHE-removebg-preview.png" alt="" class="img-item">
            <span class="precio-item">$15.000</span>
            <button class="boton-item"><a href="#"></a>Agregar al carrito</button>
        </div>
    </div>
    </div>
</section>
</body>
</html>